* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

@font-face {
  font-family: "Kanit";
  src: url(../font/Kanit-Regular.ttf); }
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf); }
@font-face {
  font-family: "kings";
  src: url(../font/Kings-Regular.ttf); }
:root {
  --light: #00c3ff;
  --card-primary: #e5e5e5;
  --bg-primary: #101920;
  --bg-secondary: rgba(109, 109, 109, 0.15);
  --dark: #2980b9;
  --text: #fff;
  --backgroud: #fafafa;
  --hint: #999;
  --border: #ddd;
  --btn-primary: #f5d10d;
  --gradian-h1: -webkit-linear-gradient(135deg, #ffa8a8 0%, #fcff00 100%);
  --gradian-menu: -webkit-linear-gradient(
    180deg,
    #13e44e 31.77%,
    rgba(255, 255, 255, 0.808) 100%
  );
  --kanit: "Kanit";
  --roboto: "Roboto"; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem; }

.text-primary {
  color: var(--primary); }
.text-hint {
  color: var(--hint); }

@keyframes bounce {
  0% {
    transform: rotate(-45deg); }
  10% {
    transform: rotate(-35deg); }
  70% {
    transform: rotate(20deg); }
  80% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }
.mb-5 {
  margin-bottom: 5rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.pr-5 {
  padding-right: 40px !important; }

.pl-5 {
  padding-left: 40px !important; }

.btn a:hover {
  transition: 0.6s all ease-in-out; }

.btn {
  padding: 15px 25px;
  background: --btn-primary;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  text-transform: capitalize;
  border: 4px solid var(--btn-primary);
  border: none;
  cursor: pointer;
  transition: 0.5s all ease-in-out; }

.btn-none {
  padding: 15px 25px;
  background: none;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  text-transform: capitalize;
  border: 4px solid var(--btn-primary);
  border: none;
  cursor: pointer;
  transition: 0.5s all ease-in-out; }

.btn:hover {
  background-color: var(--btn-primary);
  border: 4px solid var(--btn-primary);
  color: var(--text); }

.btn-shadow:hover {
  background-color: var(--bg-primary);
  border: 4px solid var(--btn-primary);
  color: var(--text); }

.btn-shadow {
  padding: 15px 25px;
  background: var(--btn-primary);
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  text-transform: capitalize;
  border: 4px solid var(--btn-primary);
  border: none;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  box-shadow: 10px 10px 4px rgba(245, 209, 13, 0.5); }

img {
  resize: none;
  height: 100%;
  max-width: 100%;
  object-fit: contain; }

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
.header {
  width: 100%;
  background: var(--bg-primary);
  grid-area: header;
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding-inline: 100px;
  gap: 120px; }
  @media (max-width: 480px) {
    .header {
      padding-inline: 40px; } }
  .header nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-top: 10px; }
    @media (min-width: 768px) and (max-width: 979px) {
      .header nav {
        padding-inline: 0px; } }
    .header nav .logo {
      width: 250px;
      height: 120px;
      padding-right: 10px; }
      @media (max-width: 480px) {
        .header nav .logo {
          width: 400px;
          height: 120px;
          object-fit: none;
          position: relative; } }
  @media (max-width: 480px) and (max-width: 480px) {
    .header nav .logo img {
      position: absolute;
      right: 55px;
      bottom: 23px; } }

    .header nav .menu {
      width: 500px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      font-family: "kanit";
      font-size: 20px;
      font-weight: 400; }
      @media (max-width: 480px) {
        .header nav .menu {
          display: none; } }
      .header nav .menu button {
        padding: 15px 25px;
        background: #f5d10d;
        font-family: "Kanit";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        text-transform: capitalize;
        border: 4px solid var(--btn-primary);
        border: none;
        cursor: pointer;
        transition: 0.5s all ease-in-out;
        width: 160px;
        font-family: "Kanit";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px; }
        .header nav .menu button a {
          font-size: 20px;
          color: black; }
        @media (max-width: 480px) {
          .header nav .menu button {
            font-size: 20px;
            width: 170px; } }
      .header nav .menu button:hover {
        border: 4px solid var(--btn-primary);
        background: var(--bg-primary); }
        .header nav .menu button:hover a {
          color: var(--text); }

.menu-xs {
  display: none;
  color: var(--text); }
  @media (max-width: 480px) {
    .menu-xs {
      display: flex; } }

.banner {
  display: flex;
  padding-bottom: 100px; }

.width-about {
  max-width: 100%;
  width: 50%;
  height: 500px; }
  @media (max-width: 480px) {
    .width-about {
      width: 100%; } }

.img-container {
  background: #505050; }

.text-content {
  padding-right: 30px; }

/*# sourceMappingURL=about.css.map */
