// fonts

@font-face {
  font-family: "Kanit";
  src: url(../font/Kanit-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "kings";
  src: url(../font/Kings-Regular.ttf);
}

// colors

:root {
  //   --font-family: "Mulish", sans-serif;
  --light: #00c3ff;
  --card-primary: #e5e5e5;
  --bg-primary: #101920;
  --bg-secondary: rgba(109, 109, 109, 0.15);
  --dark: #2980b9;
  --text: #fff;
  --backgroud: #fafafa;
  --hint: #999;
  --border: #ddd;
  --btn-primary: #f5d10d;
  --gradian-h1: -webkit-linear-gradient(135deg, #ffa8a8 0%, #fcff00 100%);
  --gradian-menu: -webkit-linear-gradient(
    180deg,
    #13e44e 31.77%,
    rgba(255, 255, 255, 0.808) 100%
  );

  //   declaration des fonts
  --kanit: "Kanit";
  --roboto: "Roboto";
}
